html, body {
 	height: 100%;
 	margin: 0; 
 	padding: 0; 
}

#map{ 
	height: 100%; 
}

#listview{
	height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #313435;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 30px;
}

#heading
{
	height: 50px;
	background-color:#f1593a;
	position: relative;
	top: 0;
	left: 0;
}

.open-button
{
	position: absolute;
	left: 0px;
	top: 50px;
	margin: 5px;
}
.close-button
{
	float: right;
	margin-top: 10px;
}

.textbox
{
	opacity: 0.8;
	color: #f1593a;
	font-size: 20px;
	width: 200px;
	height: 40px;
	margin-top: 5px;
	margin-left: 5px;
}

.searchbox
{
	float: right;
	margin-left: 5px;	
}

ul
{
	padding-left:10px;
}
li
{
	color:#f1593a;
	height: 35px;
	width: 100%;
	padding-top: 5px;
	list-style: none;
	font-size: 20px;
	border: 1px solid black;
	border-left: none;
	border-right: none;

}

li:hover
{
	background-color: #181a1b;
	cursor: pointer;
}